@media only screen and (min-width: 768px ) {
.blog_page{
    background-color: black;
}

.blog-img {
  height: 400px; 
  width: 530px;
}

.blog-right-col{
}

.blog-section{
    padding-top: 5rem;
}

.blog-Wallets {
    margin-top: -5px;
    margin-bottom: 23px;
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #00caf9;
}

  .Which-Indian-celebrities-are-showing-interest-in-NFT {
    font-family: FTYOverKillMachinedNC;
    font-size: 62px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .which-Indian-content {
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .arrow-img {
    height: 50px;
    width: 45px;
  }

  .Read-Article {
    font-family: Poppins;
    font-size: 23px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #00caf9;
  }

  .grid-img {
    height: 230px;
    width: 330px;
  }

  .grid-Wallets{
      font-size: 21px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: left;
      color: #00caf9;
      margin-top: 35px;
  }

  .grid-card-head {
    font-family: FTYOverKillMachinedNC;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .grid-content {
    font-family: Poppins;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .grid-Read-Article {
    font-family: Poppins;
    font-size: 21.5px;
    font-weight: 450;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #00caf9;
  }

  .grid-arrow-img {
    height: 50px;
    width: 40px;
  }

  .blog-grid{
    margin-top: 6rem;
  }

  /* Blog Detail Page CSS */

  .back-container{
    padding-left: 2.5%;
    display: flex;
    cursor: pointer;
  }

  .blog_detail{
    background-color: #fff;
    padding-top: 5%;
  }

  .back-img{
    height: 35px;
    width: 30px;
  }

  .back{
    font-family: Poppins;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    line-height: 1.5;
    margin-left: 18px;
  }

  .blog-detail-img{
    height: 420px;
    width: 550px;
  }

  .details-Wallets {
    margin-top: -5px;
    margin-bottom: 23px;
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #00caf9;
  }

  .Which-Indian-Detail {
    width: 567px;
    height: 246px;
    margin: 21px 356px 52.2px 3.1px;
    font-family: FTYOverKillMachinedNC;
    font-size: 62px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .By-Rohan-Hada {
    opacity: 0.8;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .September-16-2022 {
    opacity: 0.53;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .Last-update-on-September-16-2022 {
    opacity: 0.53;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .Line-21 {
    height: 0;
    opacity: 0.17;
    border: solid 1px #8b9dbf;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .How-Artists-are-gaining-exposure-from-NFTs {
    font-size: 29px;
    font-weight: 1000;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .If-you-are-an-Artist{
    margin-top: 3rem;
    font-family: Poppins;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.22px;
    text-align: left;
    color: #000;
  }

  .Editor-Wallets {
    opacity: 0.7;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .What-is-Ripple-The-Journey-from-a-Money-Transfer-Platform {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    line-height: 1.2;
  }

  .Line-16 {
    height: 0;
    opacity: 0.17;
    border: solid 1px #8b9dbf;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .Will-NFT-culture-survive-or-will-the-bubble-burst {
    font-family: Poppins;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .NFTs-is-Booming {
    margin-top: 65px;
    font-size: 27px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .btc-img{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 250px;
    width: 350px;
  }

  .Rectangle-284 {
    width: 24px;
    height: 24px;
    background-image: linear-gradient(160deg, #21f5fc -27%, #b241f2 87%);
  }

  .Engaging-with-NFT-Community {
    margin-left: 25px;
    font-size: 29px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .point-head{
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .For-an-Artist {
    margin-left: 53px;
    margin-top: 10px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: 0.22px;
    text-align: left;
    color: #000;
  }

  .rec-box{
      position: relative;
  }

  .Rectangle-283 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 12rem;
    width: 46rem;
    padding: 48px 67.2px 46.7px 56.5px;
    opacity: 0.1;
    background-image: linear-gradient(to bottom, #21f5fc, #b241f2);
  }

  .To-catch-peoples {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.24px;
    text-align: left;
    color: #000;
    position: absolute;
    top: 23%;
    margin-left: 68px;
  }

  .If-connecting {
    margin-top: 4rem;
    font-family: Poppins;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: 0.22px;
    text-align: left;
    color: #000;
  }

  .related-container{
    margin-bottom: 6rem;
  }

  .Related-Articles {
    font-size: 29px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #00121f;
  }

  .Rectangle-286 {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    width: 11.6px;
    height: 11.6px;
    background-image: linear-gradient(157deg, #21f5fc -58%, #b241f2 85%);
  }

  .Indias-Regulatory {
    width: 44rem;
    margin-top: 1.5rem;
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: 0.22px;
    text-align: left;
    color: #333;
  }

}


@media only screen and (max-width: 767px) {

.blog_page{
  background-color: black;
}

.blog-section{
  padding-top: 2.5rem;
}

.blog-img {
  height: 210px; 
  width: 270px;
}

.blog-right-col{
  margin-left: 12%;
  margin-right: 12%;
}

.blog-Wallets {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #00caf9;
}

  .Which-Indian-celebrities-are-showing-interest-in-NFT {
    font-family: FTYOverKillMachinedNC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    width: 270px;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .which-Indian-content {
    width: 270px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .Read-Article {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #00caf9;
  }

  .arrow-img {
    height: 30px;
    width: 25px;
  }

  .grid-img {
    height: 200px;
    width: 270px;
  }

  .grid-Wallets{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #00caf9;
  }

  .grid-card-head {
    font-family: FTYOverKillMachinedNC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    width: 270px;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .grid-content {
    width: 270px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .grid-Read-Article {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #00caf9;
  }

  .grid-arrow-img {
    height: 32px;
    width: 30px;
  }

  .blog-grid{
    margin-top: 6rem;
  }

  /* Blog Detail Page CSS */

  .blog_detail{
      background-color: #fff;
      padding-top: 5%;
      margin-left: 10%;
      margin-right: 12%;
  }

  .back-container{
    padding-left: 5%;
    display: flex;
    cursor: pointer;
  }

  .back-img{
    height: 25px;
    width: 20px;
  }

  .back{
    font-family: Poppins;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    line-height: 1.5;
    margin-left: 8px;
  }

  .blog-detail-img{
    height: 210px;
    width: 270px;
  }


  .details-Wallets {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #00caf9;
  }

  .Which-Indian-Detail {
    width: 270px;
    font-family: FTYOverKillMachinedNC;
    font-size: 44px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .By-Rohan-Hada {
    opacity: 0.8;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .September-16-2022 {
    opacity: 0.53;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .Last-update-on-September-16-2022 {
    opacity: 0.53;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .Line-21 {
    height: 0;
    opacity: 0.17;
    border: solid 1px #8b9dbf;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 270px;
  }

  .How-Artists-are-gaining-exposure-from-NFTs {
    font-size: 25px;
    font-weight: 1000;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .If-you-are-an-Artist{
    margin-top: 1rem;
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.22px;
    text-align: left;
    color: #000;
  }

  .Editor-Wallets {
    opacity: 0.7;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .What-is-Ripple-The-Journey-from-a-Money-Transfer-Platform {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    line-height: 1.2;
  }

  .Line-16 {
    height: 0;
    opacity: 0.17;
    border: solid 1px #8b9dbf;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .Will-NFT-culture-survive-or-will-the-bubble-burst {
    font-family: Poppins;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .NFTs-is-Booming {
    margin-top: 65px;
    font-size: 27px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .btc-img{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 250px;
    width: 270px;
  }

  .Rectangle-284 {
    width: 10px;
    height: 10px;
    background-image: linear-gradient(160deg, #21f5fc -27%, #b241f2 87%);
  }

  .Engaging-with-NFT-Community {
    margin-left: 7px;
    font-size: 15.5px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .point-head{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .For-an-Artist {
    margin-left: 25px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.22px;
    text-align: left;
    color: #000;
  }

  .rec-box{
      position: relative;
  }

  .Rectangle-283 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 10rem;
    width: 270px;
    padding: 48px 67.2px 46.7px 56.5px;
    opacity: 0.1;
    background-image: linear-gradient(to bottom, #21f5fc, #b241f2);
  }

  .To-catch-peoples {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.24px;
    text-align: left;
    color: #000;
    position: absolute;
    top: 23%;
    margin-left: 28px;
  }

  .If-connecting {
    margin-top: 1rem;
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: 0.22px;
    text-align: left;
    color: #000;
  }

  .related-container{
    margin-bottom: 6rem;
  }

  .Related-Articles {
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #00121f;
  }

  .Rectangle-286 {
    margin-top: 1.7rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-right: 0.8rem;
    width: 11.6px;
    height: 11.6px;
    background-image: linear-gradient(157deg, #21f5fc -58%, #b241f2 85%);
  }

  .Indias-Regulatory {
    width: 15rem;
    margin-top: 1.5rem;
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.22px;
    text-align: left;
    color: #333;
  }
}